body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 0.5em 2em;
    background-color: black;
    color:white;
}

.menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid white;
    padding: 10px;
}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-style: dashed;
    padding: 10px;
    margin-bottom: 10px;
}

.date {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.date > *  {
    display: flex;
    flex-grow: 1 ;
    border: 1px solid white;
    border-style: dashed;
    padding: 10px;
    margin-bottom: 10px;
}

.conteneur {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid white;
    padding: 10px;
}


.role {
    border: 1px solid white;
    border-style: dashed;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.film {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.film > *  {
    display: flex;
    flex-grow: 1 ;
    border: 1px solid white;
    border-style: dashed;
    padding: 10px;
    margin-bottom: 10px;
}

a {
    color: red;
}

a:hover {
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 20px;
    color: red;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
}

@media (max-width: 600px) {
    footer {
        border: 1px solid white;
        background-color: rgba(255, 0, 0, 0.78);
        color: black;

    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    footer {
        border-color: #b7b4b4;
        color: #b7b4b4;
    }

}

@media (min-width: 1001px) {
    footer {
        border: 1px solid darkred;
        color: darkred;
    }
}