body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 0.5em 2em;
    background-color: black;
    color:white;
}

.movie {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    border: 1px solid white;
    padding: 10px;
    gap: 1em;
}

.movie-items {
    display: flex;
    align-items: center;
    width: 6em;
    flex-shrink: 0;
    border: 1px solid white;
    padding: 10px;
}
a {
    color: red;
}

a:hover {
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 20px;
    color: red;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 10px;


}